
/* .sayhello{
    border-bottom: 1px solid yellow;
} */
.getintouch{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}

.getintouch p{
    color: yellow;
    font-size: 40px;
    padding-left: 100px;
}

.sendmail{
    padding-left: 95px;
    font-size: 70px;
}

.sendmail p a{
    color: yellowgreen;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.sendmail p a:hover{
    transition-duration: 0.7s;
    color: yellow;
    border-bottom: 1px solid yellowgreen;
}

.end{
    width: 85%;
    margin-left: 165px;
}

.end p{
    width: 70%;
    color: azure;
    font-size: 35px;
    word-spacing: 15px;
    font-family: 'Merriweather', serif;
}

.end p a{
    text-decoration: none;
    color: yellowgreen;
    border-bottom: 1px solid black;
}

.end p a:hover{
    transition-duration: 0.7s;
    color: yellow;
    border-bottom: 1px solid yellow;
}

.tel{
    float: left;
    width: 32%;
    font-family: 'Merriweather', serif;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.socialmedia{
    font-family: 'Merriweather', serif;
    float: right;
    width: 68%;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.tel p{
    color: azure;
    font-size: 23px;
    padding-left: 160px;
}

.tel a{
    font-size: 23px;
    padding-left: 160px;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
    color: yellowgreen;
}
.socialmedia p{
    color: azure;
    font-size: 23px;
    padding-left: 200px;
}

.socialmedia a {
    font-size: 23px;
    padding-left: 10px;
    text-decoration: none;
    color: yellowgreen;
}

.socialmedia a:nth-child(2){
    padding-left: 200px;
}
.tel a:hover{
    transition-duration: 0.7s;
    color: yellow;
}
.socialmedia a:hover{
    transition-duration: 0.7s;
    color: yellow;
}

.up{
    display: block;
    width: 100%;
}

.up{
    margin-top: 2px;
    margin-right: 50px;
    float: right;
    width: 100px;
    height: 70px;
    background-color: yellowgreen;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 25px;
    border: 1px solid yellowgreen;
}
.up a{
    width: 100px;
    height: 70px;
    border-radius: 50px;
    color: yellowgreen;
    background-color: #101820FF;
    text-decoration: none;
    font-size: 30px;
}

.copyright{
    float: left;
    padding-top: 50px;
    margin-left: 160px;
}
.copyright p{
    color: azure;
    font-size: 15px;
}
